{{ define "main" }}

{{ "<!-- contact -->" | safeHTML }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
       {{ with .Site.Params.contact.title }} <h2 class="section-title text-primary">{{ . }}</h2> {{ end }}
       {{ with .Site.Params.contact.content }} <p>{{ . | safeHTML }}</p> {{ end }}
        <form action="#">
          <input type="text" id="name" name="name" placeholder="Nombre" class="form-control mb-4 shadow rounded-0">
          <input type="email" id="mail" name="mail" placeholder="Email" class="form-control mb-4 shadow rounded-0">
          <input type="date" id="age" name="age" placeholder="Edad" class="form-control mb-4 shadow rounded-0">
          <input type="tel" id="phone" name="phone" placeholder="Teléfono" class="form-control mb-4 shadow rounded-0">
          <input type="text" id="subject" name="subject" placeholder="Nombre Curso" class="form-control mb-4 shadow rounded-0">
          <button type="submit" value="send" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /contact -->" | safeHTML }}

{{ end }}